{% load static%}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo"><img src="{% static 'images/Logo.png' %}" alt="Logo"></span>
        <style>
            .menu li {
                font-size: 40px; 
            }
        </style>
        
            <ul class="menu">
                <li {% if section == "dashboard" %}class="selected"{% endif %}>
                    <a href="{% url 'dashboard' %}">Catálogo</a>
                </li>
                <li {% if section == "images" %}class="selected"{% endif %}>
                    <a href="#">Carrito</a>
                </li>
                <li {% if section == "people" %}class="selected"{% endif %}>
                    <a href="#">Fabricante</a>
                </li>
            </ul>  
        
        <style>

            .user {
                font-size: 30px; 
            }
        </style>    

        <span class="user">
            {% if request.user.is_authenticated %}
                Hello {{ request.user.first_name|default:request.user.username }},
                <a href="{% url "logout" %}">Logout</a>
            {% else %}
                <a href="{% url "login" %}">Log-in</a>
            {% endif %}
        </span>
        
     </div>

    <!-- <div id="content"> -->
        {% block content %}
        {% endblock %}
    <!-- </div> -->
</body>
</html>