{% load static%}
<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
	
	{% block extrahead %}
	{% endblock %}
</head>
<body>
    <div id="header">
        <span class="logo"><img src="{% static 'images/Logo.png' %}" alt="Logo"></span>
        <style>
            .menu li {
                font-size: 30px; 
            }
        </style>
        
            <ul class="menu">
                <li {% if section == "dashboard" %}class="selected"{% endif %}>
                    <a href="{% url 'dashboard' %}">Catálogo</a>
                </li>
                <li {% if section == "images" %}class="selected"{% endif %}>
                    <a href="../cesta">Carrito</a>
                </li>
                <li {% if section == "people" %}class="selected"{% endif %}>
                    <a href="{% url 'perfil' %}">Perfil</a>
                </li>
                <li {% if section == "empresa" %}class="selected"{% endif %}>
                    <a href="../empresa">Empresa</a>
                </li>
                <li {% if section == "empresa" %}class="selected"{% endif %}>
                    <a href="../reclamaciones">Reclamaciones</a>
                </li>
            </ul>  
        
        <style>

            .user {
                font-size: 20px; 
            }
        </style>    

        <span class="user">
            {% if request.user.is_authenticated %}
                Hola {{ request.user.first_name|default:request.user.username }},
                <a href="{% url "logout" %}">Logout</a>
            {% else %}
                <a href="{% url "login" %}">Log-in</a>
            {% endif %}
        </span>
        
     </div>

<!-- <div id="content"> -->
{% block content %}
{% endblock %}
<!-- </div> -->


</body>
</html>
