{% extends "account/dashboard.html" %}
{% load i18n static %}
{% load custom_filters %}
{% load custom_tags %}


{% block title %} Motosaurio {% endblock %}

{% block extrahead %}
  <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}" />
  <style>
    table {
      width: 100%; /* Set the table width to 100% to make it responsive */
      border-collapse: collapse; /* Remove spacing between table cells */
    }

    th, td {
      min-width: 100px; /* Set a minimum width for all table header and data cells */
      padding: 10px; /* Add padding for better appearance, adjust as needed */
      border: 1px solid #ddd; /* Add borders for better visibility, adjust as needed */
    }
  </style>
{% endblock %}

{% block content %}
  <!-- Content Box with Left Lateral Menu -->
<div class="container-fluid">
  <div class="row">

    <!-- Left Lateral Menu -->
    <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar">
      <div class="sidebar-sticky">
        <div class="container mt-4">
          <label for="searchInput" class="form-label">Buscar por nombre:</label>
          <input type="text" class="form-control" id="searchInput" placeholder="Nombre">
        </div>     
        <div class="container mt-4">
          <label for="searchDescInput" class="form-label">Buscar por descripción:</label>
          <input type="text" class="form-control" id="searchDescInput" placeholder="Descripción">
        </div> 
        <div class="container mt-4">
          <label class="form-label">Filtrar por tipo:</label>
          {% for product_type in product_types %}
          <div class="form-check">
						<input class="form-check-input product-type" type="checkbox" value="{{ product_type }}" id="checkboxType{{ product_type }}" onclick="handleCheckboxClick('checkboxType{{ product_type }}', 'product-type')">
						<label class="form-check-label" for="checkboxType{{ product_type }}">{{ product_type|parse_product_type|title_value }}</label>
					</div>
          {% endfor %}
        </div>  
				<div class="container mt-4">
          <label class="form-label">Filtrar por fabricante:</label>
          {% for producer in producers %}
          <div class="form-check">
						<input class="form-check-input producer" type="checkbox" value="{{ producer }}" id="checkboxProducer{{ producer }}" onclick="handleCheckboxClick('checkboxProducer{{ producer }}', 'producer')">
						<label class="form-check-label" for="checkboxProducer{{ producer }}">{{ producer|parse_producer|title_value }}</label>
					</div>
          {% endfor %}
				<div class="container mt-4">
					<button onclick="search()">Buscar</button> 
				</div>
      </div>
      <div class="container mt-4">
        <table style="width:30%">
          <b>Ordena por:</b>
          <tr>
              <th style="width:7,5%">
                  <a>Nombre</a>
              </th>
              <th style="width:7,5%">
                <a >Precio</a>
              </th>
          </tr>
          <tr>
            <td style ="text-align: center"><a href="?order=name">a-z</a></td>
            <td style ="text-align: center"><a href="?order=price">Menor a mayor</a></td>
          </tr>
          <tr>
            <td style ="text-align: center"><a href="?order=-name">z-a</a></td>
            <td style ="text-align: center"><a href="?order=-price">Mayor a menor</a></td>
          </tr>
        </table>
        <a href="?order=-available">Disponibilidad</a>
      </div>
    </nav>

    <!-- Content Box -->
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="mb-4">Lista de productos</h1>
      </div>
      
      <div id="product_list">
        <div class="d-flex flex-wrap">
          {% for product in products %}
            <div class="card product-card">
              <a href="{{ product.get_absolute_url }}">
                {% if product.image %}
                  {% with new_url=product.image.url|cambia_url:"/shop" %}
                    <img src="{{ new_url }}" class="card-img-top product-img" alt="Product image" width="300" height="300">
                  {% endwith %}
                {% else %}
                    <img src="{% static 'images/Imagen_no_disponible.png' %}" alt="Imagen no disponible" width="300" height="300">
                {% endif %}
              </a>
                <div class="card-body">
                    <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                    <p class="card-text">{{ product.description }}</p>
                    <p class="card-text">Tipo: {{ product.product_type|parse_product_type|title_value }}</p>
                    <p class="card-text">Fabricante: {{ product.producer|parse_producer|title_value }}</p>
                    <p class="card-text">{{ product.price }} €</p>
                    {% if product.available %}
                      <form action="{% url 'cesta:cesta_add' product.id %}" method="post">
                        {{ cesta_product_form }}
                        {% csrf_token %}
                        <input type="submit" value="Añadir al carrito">
                      </form>
                    {% else %}
                    <p><span style="color: red;">PRODUCTO AGOTADO</span></p>
                    {% endif %}
                    
                </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </main>

  </div>
</div>

<script src="{% static 'filter.js' %}"></script>

<!-- Bootstrap JavaScript and dependencies (Popper.js and jQuery) -->
<script src="https://code.jquery.com/jquery-3.7.1.slim.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
{% endblock %}


